<div class="container">
  <div *ngIf="!this.verifyPage; else elseBlock">
    <app-file-input #fileInputComponent [title]="this.verifyFile" [buttonDesc]="this.verifyFile" [infoMessage]="this.infoMessage"
                    [loading]="this.loading" (clickButton)="verify()"></app-file-input>
  </div>
  <ng-template #elseBlock>
    <app-file-information [infos]="this.result" [valid]="this.valid"></app-file-information>
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <i (click)="back()" class="fa pull-right fa-arrow-left"></i>
      </div>
    </div>
  </ng-template>
</div>
